@keyframes animatedBackground {
  // from { background-position: 0 30%; }
  // to { background-position: 1920px 30%; }
  // from { background-position: 0 0; }
  // to { background-position: 0 100%; }
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
  // 0% {
  //   background-position: 0 50%;
  // }
  // 25% {
  //   background-position: 50% 0;
  // }
  // 50% {
  //   background-position: 100% 100%;
  // }
  // 75% {
  //   background-position: 50% 100%;
  // }
  // 100% {
  //   background-position: 0 50%;
  // }
  // to { transform: rotateZ(360deg);}
}

#animate-area   { 
  width: 100%; 
  // height: 400px; 
  // height: 200%;
  background-image: url('./../assets/stars.jpg');
  // background-position: 0px 0px;
  background-repeat: repeat;
  animation: animatedBackground 120s linear infinite;
}

.homePage {
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html, body, #root {
  height: 100.15%;
  margin: 0;
  border: 0;
  background-color: black;
}

.centerIt {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  // width: 100%;
}

/////////////////////////////
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  
    40% {
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    100% {
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
}

@keyframes bounce {

from {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

80% {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

93% {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

///////////////////////////

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

//////////////////////////////////

@-webkit-keyframes zoomInPlus {
  from {
    display: flex;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }


  90% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes zoomInPlus {
  from {
    display: flex;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }


  90% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }
  to {
    display: none;
    opacity: 0;
  }
}

.zoomInPlus {
  -webkit-animation-name: zoomInPlus;
  animation-name: zoomInPlus;
}

//////////////////////////////

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  to {
    opacity: 0;
    display: none;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

/////////////////////

@-webkit-keyframes zoomOutPlus {
  from {
    opacity: 0;
  }

  66% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomOutPlus {
  from {
    opacity: 0;
  }

  66% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 1;
  }
}

.zoomOutPlus {
  -webkit-animation-name: zoomOutPlus;
  animation-name: zoomOutPlus;
}

///////////////////////

.content {
  // background-color: black;
  width: 70%;
  height: 80%;
  // display: flex;
  // justify-content: flex-start;
  position: relative;
}

.showF {
  // display: flex;
  animation: zoomIn 3s;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
}

.hideF {
  // display: none;
  animation: zoomInPlus 1s;
  animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
}
.showB {
  // display: none;
  animation: zoomOutPlus 3s;
  animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
}

.hideB {
  // display: none;
  animation: zoomOut 3s;
  animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
}


.wait {
  display: none;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.buttonBar {
  display: flex;
  justify-content: space-around;
}

.arrow {
  max-height: 40px;
}

.scrollArrow {
  max-height: 40px;
  animation: bounce 5s linear infinite;
}

.contentPage {
  height: 100%;
  width: 100%;
  // background-color: black;
}

.titlePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}