
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap');


body {
  font-family: 'Forum', cursive;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#animate-area   { 
  width: 100%; 
  background-image: url('./../assets/stars.jpg');
  background-repeat: repeat;
  animation: animatedBackground 120s linear infinite;
}

.homePage {
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overscroll-behavior: none;
  overflow: hidden;
}

html, body, #root {
  height: 100.15%;
  margin: 0;
  border: 0;
  background-color: black;
  overscroll-behavior: none;
}

.centerIt {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  // width: 100%;
}

/////////////////////////////
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  
  80% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  
  93% {
      -webkit-transform: translate3d(0, 30px, 0);
      transform: translate3d(0, 30px, 0);
    }
  
    100% {
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
}

@keyframes bounce {

from {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

80% {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

93% {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

///////////////////////////

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  15% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  15% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

//////////////////////////////////

@-webkit-keyframes zoomInPlus {
  from {
    display: flex;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }


  99% {
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
    opacity: 0;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes zoomInPlus {
  from {
    display: flex;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }


  99% {
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
    opacity: 0;
  }
  
  to {
    display: none;
    opacity: 0;
  }
}

.zoomInPlus {
  -webkit-animation-name: zoomInPlus;
  animation-name: zoomInPlus;
}

//////////////////////////////

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 0.01);
    transform: scale3d(0.01, 0.01, 0.01);
  }

  to {
    opacity: 0;
    display: none;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

/////////////////////

@-webkit-keyframes zoomOutPlus {
  from {
    opacity: 0;
  }

  66% {
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomOutPlus {
  from {
    opacity: 0;
  }

  66% {
    -webkit-transform: scale3d(4, 4, 4);
    transform: scale3d(4, 4, 4);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 1;
  }
}

.zoomOutPlus {
  -webkit-animation-name: zoomOutPlus;
  animation-name: zoomOutPlus;
}

///////////////////////

.content {
  width: 70%;
  height: 80%;
  position: relative;
}

.showF {
  // display: flex;
  animation: zoomIn 3s;
  // animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
  z-index: 2;
}

.hideF {
  // display: none;
  animation: zoomInPlus 1s;
  animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
  z-index: 1;
}
.showB {
  // display: none;
  animation: zoomOutPlus 3s;
  // animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
  z-index: 2;
}

.hideB {
  // display: none;
  animation: zoomOut 3s;
  animation-fill-mode: forwards;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;  
  left: 0%;
  z-index: 1;

}


.wait {
  display: none;
}

.sideBar {
margin: 0 0 0 8px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.buttonBar {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.arrow {
  max-height: 30px;
  margin: 0 10px;
}

.scrollArrow {
  max-height: 40px;
  animation: bounce 5s linear infinite;
}

.contentPage {
  height: 100%;
  width: 100%;
  // background-color: black;
}

.titlePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centerTitle {
  text-align: center;
}

.aboutPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: center;
  
}

.profile {
  height: 185px;
  margin: 20px;
  border-radius: 25px;
}

.skillsPage {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  // align-items: center;
  width: 100%;
}

.twoHalves {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.half {
  width: 45%;
  margin: 5px 0;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
    // width: 50%;
}

.techBundle {
  text-align: center;
  margin: 5px;
}

.skillIcon {
  font-size: 40px;
}

.projectsPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stone {
  height: 200px;
  // margin: 5px;
}

.stone1 {
  transform: rotate(45deg)
}

.stone2 {
  transform: rotate(-45deg)
}

.stone3 {
  transform: rotate(-45deg)
}

.stone4 {
  transform: rotate(45deg)
}

/////////////


@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

////////////

.stoneCircle {
  width: 360px;
  height: 400px;
  // background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  animation: rotation 10s infinite linear
}

.projectDescription {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  // background-color: green;
}

.dnaContainer {
  height: 100%;
}

.dna {
  height: 500px;
}

.companies {
  display: flex;
  justify-content: space-between;
  // height: 90%;
}

.companyList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // height: 90%;
}

img.companyIcon {
  display: block;
  max-width: 100px;
  height: auto;
}

.experienceDesc {
  width: 60%;
  // background-color: blue;
}

.contactPage {
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
}

.earth {
  height: 350px;
}

.contactDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileToggle2 {
  display: none;
  margin: 10px 0 0;
}

a {
  color: white;
}

.noUnderline {
  text-decoration: none;
}

@media only screen and (max-width: 414px) {

  #animate-area   { 
    animation: animatedBackground 300s linear infinite;
  }
  .homePage {
    flex-direction: column;
    justify-content: flex-start;
  }

  .centerIt {
    height: auto;
  }

  .sideBar {
    margin: 0;
    }

    div.content {
      width: 90%;
      height: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin: 15px;
    }

    .showF, .showB, .hideF, .hideB {
      width: 100%;
      justify-content: center;
      // padding: 10px;
    }

    .buttonBar {
      display: none;
    }

    .titlePage {
      width: 100%;
      margin: 0;
    }

    .twoHalves {
      flex-direction: column;
      justify-content: flex-start;
    }

    .profile {
      // height: 100px;
      // width: 50px;
      display: none;
  //     margin: 10px;
  // border-radius: 15px;
    }

    .contentPage {
      // padding: 10px;
      // width: 93%;
      // height: 93%;
      width: 100%;
      height: 100%;
    }

    h2 {
      display: none;
    }

    .half {
      width: 100%;
      margin: 5px 0;
    }

    .aboutPage {
      justify-content: flex-start;
    }

    .mobileToggle {
      display: none;
    }

    .mobileToggle2 {
      display: flex;
    }
    div.mobileToggle2 > h3 {
      margin: 5px;
    }

    .stone {
      height: 50px;
    }

    .stoneCircle {
      width: 80px;
      height: 100px;
      animation: rotation 10s infinite linear;
      margin: 15px 0 0;
    }

    .projectsPage {
      flex-direction: column;
      // justify-content: flex-start;
      // align-items: flex-start;
    }

    .projectDescription {
      width: 100%;
      // justify-content: flex-start;
      align-items: flex-start;
    }

    h2.showHeader {
      display: flex;
    }

    .dna {
      display: none;
    }

    .companies {
      flex-direction: column;
    }

    .companyList {
      flex-direction: row;
      align-items: center;
      margin: 15px 0 0;
    }

    .companyIcon {
      max-height: 40px;
      // max-width: 40px;
      width: auto;
    }

    img.cIcon {
      max-width: 40px;
      max-height: auto;
      height: 23px;
    }

    .experienceDesc {
      width: 100%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 415px){
  .contentPage {
    padding: 20px;
    height: 100%;
    // align-items: center;
    justify-content: center;
  }

  .content {
    height: 100%;
  }

  .stone {
    height: 160px;
  }

  .stoneCircle {
    width: 280px;
    height: 280px;
    margin: 120px 0;
  }

  .dna {
    display: none;
  }

  .companies {
    height: 700px;
  }

  .projectsPage {
    flex-direction: column;
    justify-content: space-around;
    // align-items: flex-start;
  }

  .projectDescription {
    width: 100%;
    // justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
  }

div.experiencePage {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}
  
}
@media only screen and (max-height: 800px){
 .softSkills {
   display: none;
 }
}
@media only screen and (max-height: 800px){
  .content {
    transform: scale(0.95);
  }
  }


@media only screen and (max-height: 640px){
.content {
  transform: scale(0.9);
}
}

@media only screen and (max-height: 590px){
  .content {
    transform: scale(0.8);
  }
  }

  @media only screen and (max-height: 560px){
    .content {
      transform: scale(0.7);
    }
    }

    @media only screen and (max-height: 505px){
      .content {
        transform: scale(0.6);
      }
      }

      @media only screen and (max-height: 405px){
        .content {
          transform: scale(0.45);
        }
        }

        @media only screen and (max-height: 305px){
          .content {
            transform: scale(0.35);
          }
          }

      @media only screen and (max-width: 1200px){
        .stone {
          height: 160px;
        }
      
        .stoneCircle {
          width: 280px;
          height: 280px;
          margin: 120px 0;
        }
        }

        @media only screen and (max-height: 680px){
          .stone {
            height: 50px;
          }
      
          .stoneCircle {
            width: 80px;
            height: 100px;
            animation: rotation 10s infinite linear;
            margin: 15px 0 0;
          }
          }

          @media only screen and (max-height: 780px){
            .stone {
              height: 130px;
            }
        
            .stoneCircle {
              width: 200px;
              height: 220px;
              animation: rotation 10s infinite linear;
              margin: 15px 0 0;
            }
            }